aiohappyeyeballs @ file:///croot/aiohappyeyeballs_1734469393482/work
aiohttp @ file:///croot/aiohttp_1734687138658/work
aiosignal @ file:///tmp/build/80754af9/aiosignal_1637843061372/work
alembic==1.14.1
annotated-types @ file:///croot/annotated-types_1709542908624/work
antlr4-python3-runtime==4.9.3
anyio @ file:///croot/anyio_1729121277521/work
asgiref==3.8.1
astroid==2.15.8
asttokens==3.0.0
async-timeout @ file:///croot/async-timeout_1703096998144/work
attrs @ file:///croot/attrs_1734533101012/work
autoflake==2.1.1
azure-core==1.32.0
azure-identity==1.20.0
backoff==2.2.1
bcrypt==4.2.1
black==23.3.0
blinker==1.9.0
Brotli @ file:///croot/brotli-split_1736182456865/work
build==1.2.2.post1
bump-pydantic==0.8.0
cachetools==5.5.1
certifi @ file:///croot/certifi_1738623731865/work/certifi
cffi==1.17.1
charset-normalizer @ file:///croot/charset-normalizer_1721748349566/work
chroma-hnswlib==0.7.6
chromadb==0.6.3
click==8.1.8
cloudpickle==3.1.1
colorama==0.4.6
coloredlogs==15.0.1
contourpy==1.3.0
cryptography==44.0.1
cycler==0.12.1
databricks-sdk==0.44.0
dataclasses-json==0.6.7
decorator==5.1.1
Deprecated==1.2.18
dill==0.3.9
distro==1.9.0
docker==7.1.0
docopt==0.6.2
durationpy==0.9
exceptiongroup @ file:///croot/exceptiongroup_1706031385326/work
executing==2.2.0
fastapi==0.115.8
filelock==3.17.0
flake8==6.0.0
Flask==3.1.0
flatbuffers==25.2.10
fonttools==4.56.0
frozenlist @ file:///croot/frozenlist_1730902802621/work
fsspec==2025.2.0
gitdb==4.0.12
GitPython==3.1.44
google-auth==2.38.0
googleapis-common-protos==1.66.0
graphene==3.4.3
graphql-core==3.2.6
graphql-relay==3.2.0
greenlet @ file:///croot/greenlet_1733860072744/work
gritql==0.1.5
grpcio==1.70.0
gunicorn==23.0.0
h11 @ file:///croot/h11_1706652277403/work
haikunator==2.1.0
httpcore @ file:///croot/httpcore_1706728464539/work
httptools==0.6.4
httpx @ file:///croot/httpx_1723474802858/work
httpx-sse==0.4.0
huggingface-hub==0.28.1
humanfriendly==10.0
hydra-core==1.3.2
idna @ file:///croot/idna_1714398848350/work
importlib_metadata==8.5.0
importlib_resources==6.5.2
iniconfig==2.0.0
ipython==8.18.1
isort==5.12.0
itsdangerous==2.2.0
jedi==0.19.2
Jinja2==3.1.5
jiter==0.8.2
joblib==1.4.2
jsonpatch @ file:///croot/jsonpatch_1714483231291/work
jsonpointer==2.1
kiwisolver==1.4.7
kubernetes==32.0.0
langchain==0.2.5
langchain-cli==0.0.29
langchain-community==0.3.17
langchain-core==0.3.34
langchain-openai==0.3.5
langchain-text-splitters==0.3.6
langserve==0.3.1
langsmith @ file:///croot/langsmith_1733128066002/work/python
lazy-object-proxy==1.10.0
libcst==1.6.0
Mako==1.3.9
Markdown==3.7
markdown-it-py==3.0.0
MarkupSafe==3.0.2
marshmallow==3.26.1
matplotlib==3.9.4
matplotlib-inline==0.1.7
mccabe==0.7.0
mdurl==0.1.2
mlflow==2.20.1
mlflow-skinny==2.20.1
mmh3==5.1.0
monotonic==1.6
mpmath==1.3.0
msal==1.31.1
msal-extensions==1.2.0
multidict @ file:///croot/multidict_1730905498140/work
mypy-extensions==1.0.0
num2words==0.5.14
numpy @ file:///croot/numpy_and_numpy_base_1708638617955/work/dist/numpy-1.26.4-cp39-cp39-linux_x86_64.whl#sha256=b69ac3eb7538c5a224df429dc49031914fb977825ee007f2c77a13f7aa6cd769
oauthlib==3.2.2
omegaconf==2.3.0
onnxruntime==1.19.2
openai==1.62.0
opentelemetry-api==1.30.0
opentelemetry-exporter-otlp-proto-common==1.30.0
opentelemetry-exporter-otlp-proto-grpc==1.30.0
opentelemetry-instrumentation==0.51b0
opentelemetry-instrumentation-asgi==0.51b0
opentelemetry-instrumentation-fastapi==0.51b0
opentelemetry-proto==1.30.0
opentelemetry-sdk==1.30.0
opentelemetry-semantic-conventions==0.51b0
opentelemetry-util-http==0.51b0
orjson @ file:///croot/orjson_1737039092779/work
overrides==7.7.0
packaging @ file:///croot/packaging_1734472117206/work
pandas==2.2.3
parso==0.8.4
pathspec==0.12.1
pexpect==4.9.0
pillow==11.1.0
pipdeptree==2.25.0
platformdirs==4.3.6
pluggy==1.5.0
portalocker==2.10.1
posthog==3.13.0
prompt_toolkit==3.0.50
propcache @ file:///croot/propcache_1732303986938/work
protobuf==5.29.3
ptyprocess==0.7.0
pure_eval==0.2.3
pyarrow==18.1.0
pyasn1==0.6.1
pyasn1_modules==0.4.1
pycodestyle==2.10.0
pycparser==2.22
pydantic==2.10.6
pydantic-settings==2.7.1
pydantic_core==2.27.2
pyflakes==3.0.1
Pygments==2.19.1
PyJWT==2.10.1
pylint==2.17.7
pyparsing==3.2.1
PyPika==0.48.9
pyproject_hooks==1.2.0
PySocks @ file:///tmp/build/80754af9/pysocks_1605305812635/work
pytest==7.3.2
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
pytz==2025.1
PyYAML @ file:///croot/pyyaml_1728657952215/work
regex==2024.11.6
requests @ file:///croot/requests_1730999120400/work
requests-oauthlib==2.0.0
requests-toolbelt @ file:///croot/requests-toolbelt_1690874004362/work
rich==13.9.4
rsa==4.9
scikit-learn==1.6.1
scipy==1.13.1
shellingham==1.5.4
six==1.17.0
smmap==5.0.2
sniffio @ file:///croot/sniffio_1705431295498/work
SQLAlchemy @ file:///croot/sqlalchemy_1736565039440/work
sqlparse==0.5.3
sse-starlette==1.8.2
stack-data==0.6.3
starlette==0.45.3
sympy==1.13.3
tenacity @ file:///croot/tenacity_1721222508356/work
threadpoolctl==3.5.0
tiktoken==0.8.0
tokenizers==0.21.0
tomli==2.2.1
tomlkit==0.12.5
tqdm==4.67.1
traitlets==5.14.3
typer==0.9.4
typing-inspect==0.9.0
typing_extensions @ file:///croot/typing_extensions_1734714854207/work
tzdata==2025.1
urllib3 @ file:///croot/urllib3_1737133630106/work
uvicorn==0.23.2
uvloop==0.21.0
watchfiles==1.0.4
wcwidth==0.2.13
websocket-client==1.8.0
websockets==14.2
Werkzeug==3.1.3
wrapt==1.17.2
yarl @ file:///croot/yarl_1732546845924/work
zipp==3.21.0
